/* Footer.css */

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    border-radius: 10px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-image {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    border-radius: 50%; /* Make the image rounded */
    margin-right: 10px; /* Add spacing between the logo and store name */
  }
  
  .store-name {
    font-size: 30px; /* Adjust the font size as needed */
    font-weight: bold;
    color: #fff;
  }

 
  .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .footer-links ul li {
    margin: 10px;
  }
  
  .footer-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    background-color: #222;
    padding: 10px 0;
    text-align: center;
  }
  
  .footer-bottom p {
    margin: 0;
    font-size: 14px;
    color: #fff;
  }
  
  /* Media query for mobile responsiveness */
  @media (max-width: 768px) {
    .footer-links ul {
      flex-direction: column;
    }
  
    .footer-links ul li {
      margin: 10px 0;
    }
  }
  