

/* NavBar styling */
.navbar {
  background-color: #333;
  color: #b1a3a3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  border-radius: 50%; /* Make the image rounded */
  margin-right: 10px; /* Add spacing between the logo and store name */
}

.store-name {
  font-size: 30px; /* Adjust the font size as needed */
  font-weight: bold;
  color: #b1a3a3;
}


.cart-logo {
  display: flex;
  align-items: center;
}

.cart-logo-image {
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  border-radius: 50%; /* Make the image rounded */
  margin-right: 10px; /* Add spacing between the logo and store name */
  margin-top: 0.2px;
}

.cart-icon {
  color: #fff; /* Light color for the cart icon */
  font-size: 24px; /* Adjust the font size as needed */
  margin-right: 20px; /* Add spacing between the cart icon and search bar */
  text-decoration: none;
}

.cart-icon:hover {
  text-decoration: none;
  color: #ccc; /* Lighter color on hover */
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #333; /* Dark background color for the search bar */
  border-radius: 5px;
  margin-top: 0.10px;
}

.search-bar input {
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #b1a3a3;
  color: #fff; /* Light text color for better contrast on dark background */
  padding: 8px;
}

.search-bar input::placeholder {
  color: #ccc; /* Placeholder text color */
}

.search-button {
  background-color: transparent;
  border: none;
  color: #fff; /* Light text color for better contrast on dark background */
  padding: 8px;
  cursor: pointer;
}


.search-button:hover {
  border: 2px solid #fff;
  border-radius: 10px;
}


.nav-links {
  list-style: none;
  display: flex;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #b1a3a3;
  font-weight: bold;
}

.nav-links li a:hover {
  border-bottom: 2px solid #fff;
}



.search-button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem; /* Add spacing between total amount and the button */
  margin-bottom: 0.1rem;
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    width: 100%;
    padding: 20px;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}